camelot_py==0.9.0
Django==5.0.6
djangorestframework==3.15.1
fitz==0.0.1.dev2
fonttools==4.53.0
google_api_python_client==2.138.0
google_auth_oauthlib==1.2.1
img2pdf==0.5.1
numpy==2.2.5
opencv_contrib_python==4.10.0.82
opencv_python==4.9.0.80
opencv_python_headless==4.10.0.82
openpyxl==3.1.5
pandas==2.2.3
pdfkit==1.0.0
pdfrw==0.4
pikepdf==9.1.2
Pillow==11.2.1
playwright==1.44.0
protobuf==6.30.2
pycryptodome==3.22.0
python_dateutil==2.9.0.post0
qrcode==7.4.2
Requests==2.32.3
selenium==4.31.0
typing_extensions==4.13.2
