<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light flex-column">
    <div class="container">
      <a href="/" class="sits_pdf_logo"><img src="/static/images/icon/SITS PDF.png" class="padding-top-15 mobpad2 w-100" alt="Softechure Logo" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav me-0 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link f-15" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link f-15" href="https://softechure.com/aboutus.php" target="_blank">About us</a>
          </li>
        </ul>

        <button class="navbar-toggler nav-close-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Close navigation"><span class="navbar-close-icon">×</span></button>
      </div>
    </div>
  </nav>
</header>